name: Renovate
on:
  workflow_dispatch:
  schedule:
  - cron: '* * * * *'
concurrency: renovate
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
    - name: Get token
      id: get_token
      uses: actions/create-github-app-token@v2.1.4
      with:
        private-key: ${{ secrets.PRIVATE_KEY }}
        app-id: ${{ secrets.APP_ID }}
        owner: ${{ github.repository_owner }}

    - name: Self-hosted Renovate
      uses: renovatebot/github-action@fc0e62a8df512bfba579d7c87f37c043c4274874 # v44.0.1
      with:
        token: '${{ steps.get_token.outputs.token }}'
      env:
        RENOVATE_AUTODISCOVER: "true"
        RENOVATE_ONBOARDING: "false"
        RENOVATE_PLATFORM_COMMIT: "true"
        LOG_LEVEL: warn
