name: Renovate
on:
  workflow_dispatch:
  schedule:
  - cron: '* * * * *'
concurrency: renovate
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
    - name: Get token
      id: get_token
      uses: actions/create-github-app-token@v2.2.1
      with:
        private-key: ${{ secrets.PRIVATE_KEY }}
        app-id: ${{ secrets.APP_ID }}
        owner: ${{ github.repository_owner }}

    - name: Self-hosted Renovate
      uses: renovatebot/github-action@44f24283a60f64273f1294932f16ba61193cccca # v46.1.0
      with:
        token: '${{ steps.get_token.outputs.token }}'
      env:
        RENOVATE_AUTODISCOVER: "true"
        RENOVATE_ONBOARDING: "false"
        RENOVATE_PLATFORM_COMMIT: "true"
        LOG_LEVEL: warn
